{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="jumbotron" style="background: #AED6F1">
  <h1 class="display-3">We Are IEEE</h1>
  <p class="lead">This is the motto here in the electrical engineering
  department. We stick together.</p>
  <hr class="my-4">
  <p>GO BOBCATS!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="members.html" role="button">Meet our members</a>
  </p>
</div>

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is IEEE?
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        The Institute of Electrical and Electronics Engineers (IEEE, pronounced "I triple E")
        is a professional association with its corporate office in New York City and its
        operations center in Piscataway, New Jersey. It was formed in 1963 from the
        amalgamation of the American Institute of Electrical Engineers and the Institute
        of Radio Engineers. Today, it is the world's largest association of technical
        professionals with more than 420,000 members in over 160 countries around the
        world. Its objectives are the educational and technical advancement of electrical
        and electronic engineering, telecommunications, computer engineering and
        allied disciplines.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How can I join?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Come to one of our meetings or
        <a href="members.html">contact us.</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What if I can't make it to the meetings?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        That's okay!<br><br>
        You can still come to any of our off campus events and participate in
        our volunteering opputunities. We will keep you updated with everything
        going on here in this website.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Why should I join?
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        You get a wide array of resources from IEEE at Texas State:<br><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary text-white font-italic">Free admission to our events</li>
          <li class="list-group-item bg-primary text-white font-italic">Access to our robotics parts and tools</li>
          <li class="list-group-item bg-primary text-white font-italic">Networking oppurtunities</li>
          <li class="list-group-item bg-primary text-white font-italic">Good times with good people</li>
          <li class="list-group-item bg-primary text-white font-italic">It looks good on your resume</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Banner -->
<aside class="banner border border-info">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2 style="color: #2980B9">Monday's @ 7:30PM in RFM 5213</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/TXST.IEEE/" class="btn btn-secondary btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/cadensanders49/ieee-website" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/txst.ieee/" class="btn btn-secondary btn-lg">
              <i class="fa fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->
{% endblock %}
