{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block content %}

<!-- Banner -->
<aside class="banner border border-info">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2 style="color: #2980B9">Monday's @ 7:30PM in RFM 5213</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/TXST.IEEE/" class="btn btn-secondary btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/cadensanders49/ieee-website" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/txst.ieee/" class="btn btn-secondary btn-lg">
              <i class="fa fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->
{% endblock %}
