{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Texas State IEEE{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">IEEE Texas State</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'members' %}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>IEEE</h1>
          <h3>Texas State University - San Marcos</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/TXST.IEEE/" class="btn btn-secondary btn-lg">
                <i class="fa fa-facebook fa-fw"></i>
                <span class="network-name">Facebook</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/cadensanders49/ieee-website" class="btn btn-secondary btn-lg">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Github</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/txst.ieee/" class="btn btn-secondary btn-lg">
                <i class="fa fa-instagram fa-fw"></i>
                <span class="network-name">Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Welcome to Texas State's<br>IEEE Student Branch</h2>
            <p class="lead">We are a student organization based in San Marcos, Texas
              at Texas State University. Our activities include robotics, networking,
              and social events.
            </p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="d-block rounded img-thumbnail mt-xl-4 ml-xl-3 mt-lg-5" src="{% static 'img/bob-build-2.png' %}" alt="Robot">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Our Purpose</h2>
            <p class="lead">Dissemination of knowledge of the theory and practice of all aspects
              of electrical engineering, computer science, or the related arts and sciences,
              as well as the furtherance of the professional development of the Students.</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid rounded img-thumbnail mt-lg-3 mt-xl-0" src="{% static 'img/student-2.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Sign Up to Become<br>a Member Today!</h2>
            <p class="lead">Meetings located in RFM 5213<br>7:30PM
            every Monday night.</p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="img-fluid rounded img-thumbnail mt-lg-3 mt-xl-0" src="{% static 'img/soccer-1.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner border border-info">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2 style="color: #2980B9">Monday's @ 7:30PM in RFM 5213</h2>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/TXST.IEEE/" class="btn btn-secondary btn-lg">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/cadensanders49/ieee-website" class="btn btn-secondary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/txst.ieee/" class="btn btn-secondary btn-lg">
                  <i class="fa fa-instagram fa-fw"></i>
                  <span class="network-name">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

{% endblock %}
