{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Members{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">IEEE Texas State</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'members' %}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Banner -->
    <aside class="banner border border-info">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2 style="color: #2980B9">Monday's @ 7:30PM in RFM 5213</h2>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/TXST.IEEE/" class="btn btn-secondary btn-lg">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/cadensanders49/ieee-website" class="btn btn-secondary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/txst.ieee/" class="btn btn-secondary btn-lg">
                  <i class="fa fa-instagram fa-fw"></i>
                  <span class="network-name">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->
{% endblock %}
